@using MaShops
@using MaShops.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model List<Banner>

@{
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Banners";
    ViewData["Page"] = "Banners";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-area="ControlPanel" asp-controller="Banner" asp-action="Index"
               class="text-decoration-none text-muted">Banner</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">List</li>
    </ol>
</nav>

<div class="card px-0 py-3">
    <form>
        <div class="px-3 d-flex gap-2 flex-wrap">
            <button type="submit" class="btn btn-primary">Save Changes</button>
            <a class="btn btn-label-secondary" asp-area="ControlPanel" asp-controller="Banner" asp-action="Index">Reset</a>
            <div>
                <label for="newBanner" class="btn-label-primary">Upload new banner</label>
                <input type="file" class="new-banner" hidden accept="image/*" id="newBanner" name="" />
            </div>
        </div>
        <hr class="mb-0" />
        <div class="mzn-img-gallery row p-2 m-0">
            @foreach (var banner in Model)
            {
                <div class="col-sm-6 col-xl-4 col-xxl-3 mx-0 p-2">
                    <div class="mzn-img-card">
                        <div class="mzn-btns-container">
                            <div class="mzn-btn">
                                <input type="checkbox" id="banner-@banner.Id" 
                                @{
                                    if (banner.Status)
                                        WriteLiteral("checked=\"true\"");
                                    else
                                        WriteLiteral("checked=\"false\"");
                                        
                                } onchange="validateBannerSelects(this)" />
                            </div>
                            <a href="javascript:void(0)" onclick="mznExpandImg(this)" class="mzn-btn link-dark text-decoration-none mzn-expand-img-btn" mzn-img-target="#banner-img-@banner.Id">
                                <i class="fa-solid fa-expand"></i>
                            </a>
                            <a class="mzn-btn link-secondary text-decoration-none" asp-area="ControlPanel" asp-controller="Banner" asp-action="">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </div>
                        <label for="banner-@banner.Id">
                            <img id="banner-img-@banner.Id" src="@banner.PhotoPath" alt="Banner with ID of @banner.Id" />
                        </label>
                    </div>
                </div>
            }
            <div id="banner-img-overlay" class="mzn-expanded-img-overlay" onclick="mznCloseImgOverlay(this, arguments[0])">
                <div class="mzn-wrapper">
                    <button type="button" onclick="this.parentElement.parentElement.classList.remove('active')" class="mzn-close-overlay-btn" mzn-overlay-target="#banner-img-overlay">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                    <img alt="Expanded Image" />
                </div>
            </div>
            <div class="alert alert-danger alert-dismissible auto-close fade mzn-gallery-validate-alert" role="alert">
                Number of selected banners must be between 1 and 5
            </div>
        </div>
    </form>
</div>