@model ProductVM

@{
    ViewData["Title"] = "Add New Product";
    ViewData["Page"] = "Products";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-area="Seller" asp-controller="Product" asp-action="Index"
               class="text-decoration-none text-muted">Product</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-area="Seller" asp-controller="Product" asp-action="Index"
               class="text-decoration-none text-muted">List</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Add New Product
        </li>
    </ol>
</nav>

<div class="card px-0 py-3">
    <form method="post" enctype="multipart/form-data">
        <fieldset class="form-group border mt-2 px-1 pt-4 row mx-3">
            <legend class="w-auto px-2">Primary Details</legend>
            <div class="mb-3 col-12">
                <label asp-for="Product.Name" class="form-label"></label>
                <textarea asp-for="Product.Name" class="form-control"></textarea>
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="mb-3 col-12">
                <label for="prod-description" asp-for="Product.HTMLDescription" class="form-label"></label>
                <textarea id="prod-description" asp-for="Product.HTMLDescription" class="form-control"></textarea>
                <span asp-validation-for="Product.HTMLDescription" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-6">
                <label asp-for="Product.CategoryId" class="form-label"></label>
                <select asp-for="Product.CategoryId" asp-items="Model.CategoryList" class="form-control">
                    <option disabled selected>-- Select Category --</option>
                </select>
                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-6">
                <label asp-for="Product.OldPrice" class="form-label"></label>
                <input asp-for="Product.OldPrice" class="form-control">
                <span asp-validation-for="Product.OldPrice" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-6">
                <label asp-for="Product.NewPrice" class="form-label"></label>
                <input asp-for="Product.NewPrice" class="form-control">
                <span asp-validation-for="Product.NewPrice" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-6">
                <label asp-for="Product.InStock" class="form-label"></label>
                <input asp-for="Product.InStock" class="form-control">
                <span asp-validation-for="Product.InStock" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-6">
                <label for="prodMainPoster" class="form-label">Main Poster</label>
                <input id="prodMainPoster" type="file" name="mainPoster" class="form-control">
            </div>
        </fieldset>
        <fieldset class="form-group border mt-4 px-1 pt-4 row mx-3">
            <legend class="w-auto px-2">Product Photos</legend>
            <div class="prod-photos-container mb-3 c-img-gallery">
                <div id="prod-imgs-overlay" class="c-expanded-img-overlay" onclick="closeImgOverlay(this, arguments[0])">
                    <div class="c-wrapper">
                        <button type="button" onclick="this.parentElement.parentElement.classList.remove('active')" class="c-close-overlay-btn" mzn-overlay-target="#banner-img-overlay">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                        <img alt="Expanded Image" />
                    </div>
                </div>
            </div>
            <div class="mb-3 d-flex gap-2">
                <div>
                    <label for="newBanner" class="btn-label-primary">Upload new photo</label>
                    <input type="file" class="new-prod-img" hidden accept="image/*" id="newBanner" name="" />
                </div>
            </div>
        </fieldset>
        <hr />
        <div class="mx-3">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a asp-area="Seller" asp-controller="Product" asp-action="Index"
               class="btn btn-secondary">
                Back to list
            </a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.tiny.cloud/1/95r8bozpecv1cav6vgy3acmehl91ldom7z6ipvsccf321x47/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#prod-description',
            plugins: 'lists wordcount checklist casechange tinymcespellchecker',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            menubar: false,
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
        });
    </script>
}