<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap-5.3.1-dist/css/bootstrap.min.css" />

    <!-- Boxicons -->
    <link rel="stylesheet" href="~/lib/boxicons-2.1.4/css/boxicons.min.css" />

    <!-- DataTables -->
    <link href="~/lib/datatables/datatables.min.css" rel="stylesheet">

    <!-- Toastr -->
    <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/styles/control-panel/dist/style.css" asp-append-version="true" />
</head>

<body class="c-scroll">

    <!-- Main Header -->
    <header id="header" class="header d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between w-100">
            <div class="d-flex align-items-center gap-2">
                <button type="button"
                        class="open-sidenav-btn border-0 bg-transparent justify-content-center align-items-center">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <h1 class="m-0 one-line-ellipsis">@ViewData["Title"]</h1>
            </div>
            <div class="d-flex flex-row-reverse gap-2 align-items-center">
                <div class="dropdown">
                    <a class="p-0 ps-1" href="#" id="profile-dropdown"
                       role="button" data-bs-toggle="dropdown" aria-expanded="false"
                       data-bs-auto-close="outside">
                        <img src="~/img/mazen2.png" class="rounded-img" />
                    </a>
                    <ul class="profile-menu dropdown-menu py-0 overflow-hidden" aria-labelledby="profile-dropdown">
                        <li>
                            <a class="dropdown-item d-flex gap-2 py-3" href="#">
                                <img src="~/img/mazen2.png" class="rounded-img" />
                                <div class="d-flex flex-column">
                                    <span class="fw-bold">Mazen Salah</span>
                                    <span class="short-text text-secondary">Admin</span>
                                </div>
                            </a>
                        </li>
                        <li><hr class="dropdown-divider my-0"></li>
                        <li>
                            <a class="dropdown-item py-2 d-flex gap-3 align-items-center"
                               asp-area="Admin" asp-controller="User"
                               asp-action="Details" asp-route-id="10">
                                <i class="fa-solid fa-user"></i>
                                <span>My Profile</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item py-2 d-flex gap-3 align-items-center">
                                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                <span>Log out</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <a asp-area="Customer" asp-controller="Home" asp-action="Index"
                   class="btn btn-outline-primary">
                    View Website
                </a>
            </div>
        </div>
    </header>
    <!-- End Main Header -->
    <!-- Overlay Behind SideNav in Small Screens -->
    <div class="sidenav-overlay">
    </div>
    <!-- / Overlay Behind SideNav in Small Screens -->
    <!-- Side Navigation -->
    <nav class="sidenav h-100" id="sidenav">
        <div class="wrapper c-scroll dark-scroll d-flex flex-column justify-content-between h-100 overflow-y-scroll overflow-x-hidden">
            <div>
                <div class="upper-box d-flex justify-content-end">
                    <button type="button" class="close-sidenav-btn bg-transparent border-0 justify-content-center align-items-center">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <ul class="list-unstyled m-0 accordion" id="sidenavAccordion">
                    <li>
                        <a asp-area="Seller" asp-controller="Home" asp-action="Index"
                           class="text-decoration-none text-white d-flex align-items-center gap-3 sidenav-item @if(ViewData["Page"] == "Dashboard") WriteLiteral("active");">
                            <i class="fa-solid fa-table-columns navlink-icon"></i>
                            <span class="navlink-text">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="Seller" asp-controller="Product" asp-action="Index"
                           class="text-decoration-none text-white d-flex align-items-center gap-3 sidenav-item @if(ViewData["Page"] == "Products") WriteLiteral("active");">
                            <i class="fa-solid fa-bag-shopping navlink-icon"></i>
                            <span class="navlink-text">Products</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="Seller" asp-controller="Sale" asp-action="Index"
                           class="text-decoration-none text-white d-flex align-items-center gap-3 sidenav-item @if(ViewData["Page"] == "Sales") WriteLiteral("active");">
                            <i class="fa-solid fa-truck-fast navlink-icon"></i>
                            <span class="navlink-text">Sales</span>
                        </a>
                    </li>
                </ul>
            </div>
            <ul class="list-unstyled m-0">
                <li>
                    <a asp-area="Seller" asp-controller="Settings" asp-action="Index"
                       class="text-decoration-none text-white d-flex align-items-center gap-3 mt-0 sidenav-item @if(ViewData["Page"] == "Settings") WriteLiteral("active");">
                        <i class="fa-solid fa-gear navlink-icon"></i>
                        <span class="navlink-text">Settings</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Home" asp-action="Index"
                       class="text-decoration-none text-white d-flex align-items-center gap-3 mt-0 sidenav-item">
                        <i class="fa-solid fa-arrow-right-from-bracket navlink-icon"></i>
                        <span class="navlink-text">Log out</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- End Side Navigation -->
    <!-- Content -->
    <div class="content-area">
        <partial name="_TransactionNotification" />
        @RenderBody()
    </div>
    <!-- / Content -->
    <!-- Primary Footer -->
    <footer class="primary-footer">
        <div class="text-center p-4 footer-bottom">
            © 2023 Designed and Developed by
            <a class="text-reset fw-bold" target="_blank" href="https://www.linkedin.com/in/masalah-tech/">Mazen Salah</a>
        </div>
    </footer>
    <!-- / Primary Footer -->
    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/lib/bootstrap/bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js"></script>

    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/0ce17fc271.js" crossorigin="anonymous"></script>

    <!-- DataTables -->
    <script src="~/lib/datatables/datatables.min.js" crossorigin="anonymous"></script>
    <script src="~/lib/datatables/dataTables.buttons.min.js"></script>

    <!-- Custom JS -->
    <script src="~/js/control-panel.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>