:root {
  --black: rrgb(0, 0, 0)
  --light-black: rgb(50 50 50);
  --light-grey: #f2f5f9;
  --grey: rgb(220 220 220);
  --midnight-express: rgb(29 36 51);
  --midnight-express-light: rgb(38 46 64);
  --midnight-express-light-x2: rgb(42 52 74);
  --midnight-express-light-x3: rgb(54 65 90);
}
