:root {
  --black: rrgb(0, 0, 0)
  --light-black: rgb(50 50 50);
  --light-grey: rgb(242, 245, 249);
  --grey: rgb(221, 226, 231);
  --dark-grey: rgb(100 107 112);
  --midnight-express: rgb(29 36 51);
  --midnight-express-light: rgb(38 46 64);
  --midnight-express-light-x2: rgb(42 52 74);
  --midnight-express-light-x3: rgb(54 65 90);
  --crayola: rgb(134 183 254);
  --crayola-light-a-0-25: rgba(13, 110, 253, 0.25);
}
