@model UserVM

@{
    ViewData["Title"] = "Create New User";
    ViewData["Page"] = "Users";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-area="Admin" asp-controller="User" asp-action="Index"
               class="text-decoration-none text-muted">User</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-area="Admin" asp-controller="User" asp-action="Index"
               class="text-decoration-none text-muted">List</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Create New User
        </li>
    </ol>
</nav>

<div class="card px-0 py-3">
    <form method="post">
        <fieldset class="form-group border mt-3 px-1 pt-4 row mx-3">
            <legend class="w-auto px-2">Primary Information</legend>
            <div class="mb-3 col-md-6">
                <label asp-for="User.FirstName" class="form-label"></label>
                <input asp-for="User.FirstName" class="form-control">
                <span asp-validation-for="User.FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-6">
                <label asp-for="User.SecondName" class="form-label"></label>
                <input asp-for="User.SecondName" class="form-control">
                <span asp-validation-for="User.SecondName" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-6">
                <label asp-for="User.ThirdName" class="form-label"></label>
                <input asp-for="User.ThirdName" class="form-control">
                <span asp-validation-for="User.ThirdName" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-6">
                <label asp-for="User.LastName" class="form-label"></label>
                <input asp-for="User.LastName" class="form-control">
                <span asp-validation-for="User.LastName" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-6 c-select-box">
                <label asp-for="User.Nationality" class="form-label"></label>
                <div class="c-select-option">
                    <input class="c-selected-item form-control" asp-for="User.Nationality" readonly />
                </div>
                <div class="c-select-items-container">
                    <div class="c-search-select-items-input-wrapper">
                        <input class="c-search-select-items-input" type="text" autocomplete="off" />
                    </div>
                    <ul class="load-countries">
                    </ul>
                    <p class="c-no-match-msg">No results found</p>
                </div>
                <span asp-validation-for="User.Nationality" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-6">
                <label asp-for="User.BirthDate" class="form-label"></label>
                <input asp-for="User.BirthDate" type="date" class="form-control">
                <span asp-validation-for="User.BirthDate" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-6">
                <label asp-for="User.PhotoURL" class="form-label"></label>
                <input asp-for="User.PhotoURL" type="file" class="form-control">
                <span asp-validation-for="User.PhotoURL" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-6">
                <label asp-for="UserRoles[0].RoleId" class="form-label">Role</label>
                <select asp-for="UserRoles[0].RoleId" asp-items="Model.RoleList" class="form-select">
                    <option disabled selected>-- Select Role --</option>
                </select>
                <span asp-validation-for="UserRoles[0].RoleId" class="text-danger"></span>
            </div>
        </fieldset>
        <fieldset class="form-group border mt-4 px-1 pt-4 row mx-3">
            <legend class="w-auto px-2">Contact Details</legend>
            <div class="mb-3 col-md-6">
                <label asp-for="User.PhoneNumber" class="form-label"></label>
                <input asp-for="User.PhoneNumber" class="form-control">
                <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-6">
                <label asp-for="User.Email" class="form-label"></label>
                <input asp-for="User.Email" type="email" class="form-control">
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
        </fieldset>
        <fieldset class="form-group border mt-4 px-1 pt-4 row mx-3">
            <legend class="w-auto px-2">Address Details</legend>
            <div class="mb-3 col-md-6 c-select-box">
                <label asp-for="User.Address.Country" class="form-label"></label>
                <div class="c-select-option">
                    <input class="c-selected-item form-control"
                           asp-for="User.Address.Country" readonly />
                </div>
                <div class="c-select-items-container">
                    <div class="c-search-select-items-input-wrapper">
                        <input class="c-search-select-items-input" type="text" autocomplete="off" />
                    </div>
                    <ul class="load-countries">
                    </ul>
                    <p class="c-no-match-msg">No results found</p>
                </div>
                <span asp-validation-for="User.Address.Country" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-6">
                <label asp-for="User.Address.City" class="form-label"></label>
                <input asp-for="User.Address.City" class="form-control">
                <span asp-validation-for="User.Address.City" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-6">
                <label asp-for="User.Address.Street" class="form-label"></label>
                <input asp-for="User.Address.Street" class="form-control">
                <span asp-validation-for="User.Address.Street" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-6">
                <label asp-for="User.Address.AppartmentNo" class="form-label"></label>
                <input asp-for="User.Address.AppartmentNo" class="form-control">
                <span asp-validation-for="User.Address.AppartmentNo" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-6">
                <label asp-for="User.Address.ZipCode" class="form-label"></label>
                <input asp-for="User.Address.ZipCode" class="form-control">
                <span asp-validation-for="User.Address.ZipCode" class="text-danger"></span>
            </div>
        </fieldset>
        <fieldset class="form-group border mt-4 px-1 pt-4 row mx-3">
            <legend class="w-auto px-2">Credentials</legend>
            <div class="mb-3 col-md-6">
                <label asp-for="User.Username" class="form-label"></label>
                <input asp-for="User.Username" class="form-control">
                <span asp-validation-for="User.Username" class="text-danger"></span>
            </div>
            <div class="mb-3 mb-3 col-md-6">
                <label asp-for="User.EncPassword" class="form-label"></label>
                <div class="c-eye-pass-box">
                    <input asp-for="User.EncPassword" class="form-control">
                    <div class="c-pass-icon-wrapper">
                        <i class="fa-solid fa-eye c-icon show-pass-btn"></i>
                        <i class="fa-solid fa-eye-slash c-icon active hide-pass-btn"></i>
                    </div>
                </div>
                <span asp-validation-for="User.EncPassword" class="text-danger"></span>
            </div>
        </fieldset>
        <hr />
        <div class="mx-3 d-flex gap-2 flex-wrap">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a asp-area="Admin" asp-controller="User" asp-action="Index"
                class="btn btn-secondary">
                Back to list
            </a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}